name: ci
on:
  push:
  workflow_dispatch:
    inputs:
      build_docs:
        description: "Build"
        default: false
        required: false
        type: boolean

jobs:
  build_docs:
    name: Build
    if: ${{
      github.event_name == 'workflow_dispatch' && inputs.build_docs ||
      github.event_name == 'push' && contains(github.event.head_commit.message, 'build')
      }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Build
        run: |
          pnpm install && pnpm build
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./.vitepress/dist
          token: ${{ secrets.GITHUB_TOKEN }}