name: ci
on: [ push ]

jobs:
  build_docs:
    name: Build
    if: ${{ contains(github.event.head_commit.message, 'build') }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Build
        run: |
          pnpm install && pnpm build
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./.vitepress/dist
          token: ${{ secrets.TOKEN_GITHUB }}